.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;

    label {
        accent-color: #000000;
        margin-right: 3px;
    }
}
